---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <h1>About</h1>
    <p>
        This is a simple Astro app with a few pages. It uses the <a
            href="https://astro.build">Astro</a
        > static site builder.
    </p>
</Layout>
